*pycache*
all_asfamc
*.npy
*.csv
comad_json/
view_npy.py
amass/*
*.bag
logs*
finetuned_HH_checkpoints/
trained_HH_checkpoints/
trained_HR_checkpoints/
*egg-info
data/
extra/

hr/
hr_new/
new_hr_old/
outputs/